<form method="POST" action='/post/{{postId}}/comment' enctype="multipart/form-data">
  <textarea name="content" placeholder="Post something please"></textarea>
     <input type="file" name="attachment" />

  <button> Leave the user a comment!</button>
</form>