yo create


<form method="POST" enctype="multipart/form-data">
  <textarea name="content" placeholder="Post something please"></textarea>
     <input type="file" name="attachment" />

  <button>Create post!</button>
</form>